<body>
<div style="width: 1000px">
  <table id="condicional" class="table table-bordered" style="width: 800px">
    <tittle><h2 class="the-legend">historicos</h2></tittle>
    <tr>
      <th>historics de</th>
     </tr>

  </table>
  <p><%=@filter3 %></p>
</div>
</body>
</html>

