<h2 class="the-legend">Parámetros compuestos</h2>


<%= simple_form_for @composite , :id => 'formu', :remote => true , :html => {:id =>'formu'} , :url => {action:'actualizar'}  do |f| %>

  <div class="field">
  <%=f.input :paracomp, label: 'Parámetros Compuestos', :collection => @mcrsearch.map{ |c| [c.name,c.id] }, include_blank: 'Seleccione un parámetro', :input_html => {:onchange => "reload_mac(this.value)"} %>
  </div>


  <div id="atri">
    <%=render 'composites/searchatr'%>
  </div>
  <div id="atrhst">
    <%=render 'composites/items'%>
  </div>

<!--<div class="actions">
  <button id="enviar" type="submit" onclick="sendd()">Realizar consulta</button>
  </div>!-->

<% end %>