<!DOCTYPE html>
<html>
<head></head>
<body>
<div style="width: 1000px">
  <table class="table table-bordered" style="width: 800px">
  <tittle><h2 class="the-legend">Atributos de condición</h2></tittle>
  <tr>
    <th>Items</th>
    <th>Mayor que</th>
    <th>Menor que</th>
    <th>Igual a</th>
    <th>Diferente a</th>

  </tr>
   <% @refreshatr.each do |n| %>
   <% @x = @x + 1  %>
     <% :datostabla =
   <tr class="success">
   <td><%= n.name %> </td>
   <in
   </tr>
   <%end%>
  </table>
  </div>
</body>
</html>



