
<% form_tag items_composite_path do%>
    <table>
      <tr>
        <th>Sel</th>
        <th>Items</th>
        <th>Mayor que</th>
        <th>Menor que</th>
        <th>Igual a</th>
        <th>Diferente a</th>
      </tr>

      <% @refreshatr.each do |n| %>

          <tr class="success">
            <td><%= check_box_tag "atr_ids[]", n.id%></td>
            <td><%=h n.name %> </td>

          </tr>
      <%end%>
    </table>
    <%= submit_tag "Edit Checked" %>
<%end%>





