- unless notice.blank? && alert.blank?
  #flash
    .wrapper
      - unless notice.blank?
        .alert.alert-success
          %a.close{"data-dismiss" => "alert"} ×
          = notice
      - unless alert.blank?
        .alert.alert-error
          %a.close{"data-dismiss" => "alert"} ×
          = alert
.imgmain
  =image_tag "banner.png"