= simple_form_for(@serv, :wrapper => :bootstrap, :html => {:class => 'form-horizontal' }) do |f|
  %fieldset#mainform
    %legend.the-legend
      Datos
      =f.input :name, label: t('.name'), :input_html => { :class => "span4" }, :hint => "Nombre del servicio"
      =f.input :desc, label: t('.desc'), :input_html => { :class => "span6" }, :hint => "Descripci贸n del servicio"
      %fieldset#subform1
        %legend.the-legend2
          Conexi贸n
          =f.input :mother, label: 'Repositorio', :collection => @net_eles.map{ |c| [c.name, c.id] }, :hint => "Elemento de red que contiene al servicio", selected: "#{@serv.mother ? @serv.mother.id : ''}", include_blank: 'Seleccione un repositorio'
          =f.simple_fields_for @serv.conn do |f|
            =f.input :ip, :as => :hidden
            =f.input :port, :as => :integer, label: t('.port'), :input_html => { placeholder: 1000, min: 1, :class => "span2" }, :hint => "Puerto de gesti贸n en que escucha el servicio"
            .links=link_to  'Probar Conexi贸n', '/serv/testconn', :id => "testconnserv", :remote => true, :class => "testconnserv"
            %p#succon
    .form-actions
      %button.btn.btn-primary{:type => "submit"}=t('forms.save')
      =link_to t('forms.back'), servs_path, {:class => "links"}