%h1 Listado de Alertas
%br

.btn-group{'data-toggle'=> "buttons-radio", :id => 'filtro'}
  %button.btn.btn-primary{:href => "#", :id => 'all'} Todos
  %button.btn.btn-primary{:href => "#", :id => 'alarm'} Alarma
  %button.btn.btn-primary{:href => "#", :id => 'anmly'} Anomalía
  %button.btn.btn-primary{:href => "#", :id => 'notif'} Información
  %button.btn.btn-primary{:href => "#", :id => 'myAtt'} Mis atenciones
  %button.btn.btn-primary{:href => "#", :id => 'noAtt'} Pendientes
  %button.btn.btn-primary{:href => "#", :id => 'solved'} Solucionada

%br
%br

#divalertas
