#partial_form_composite
%h2.the-legend Formulario Para los Parametros Compuestos

= simple_form_for @monit , id:'form_composite', remote:true , :html => {:id =>'form_composite'} , :url => {:action => 'updateresource'}  do |f|

 .field
  = f.input :manrsc, label:'Recursos', :collection => @search_resource.map{ |c| [c.name,c.id] }, :include_blank => 'Seleccione un recurso',:input_html => {:onchange => "reload_mcr_atr(this.value)"}

 #div_mcr_atr_form
  = render 'monitors/search_mcr'

.actions
%button.btn.btn-primary#enviar{:onclick => " enviarinformacion()", :type => "submit"} Realizar consulta