= simple_form_for(@laynet_ele, :wrapper => :bootstrap, :html => {:class => 'form-horizontal' }) do |f|
  %fieldset#mainform
    %legend.the-legend
      Datos
      =f.input :name, label: t('.name'), :input_html => { :class => "span4" }, :hint => "Nombre del elemento de capa de red"
      =f.input :desc, label: t('.desc'), :input_html => { :class => "span6" }, :hint => "Descripción del elemento de capa de red"
      %fieldset#subform1
        %legend.the-legend2
          Conexión
          =f.simple_fields_for @laynet_ele.conn do |f|
            =f.input :ip, label: t('.ip'), :input_html => { maxlength: 15, size: 20, placeholder: "1.0.0.0", :class => "span4" }, :hint => "Dirección IP de gestión"
            =f.input :port, :as => :integer, label: t('.port'), :input_html => { placeholder: 1000, min: 1, :class => "span2" }, :hint => "Puerto de gestión"
            .links=link_to  'Probar Conexión', '/laynet_ele/testconn', :id => "testconnlaynetele", :remote => true, :class => "testconnlaynetele"
            %p#succon
    .form-actions
      %button.btn.btn-primary{:type => "submit"}=t('forms.save')
      =link_to t('forms.back'), laynet_eles_path, {:class => "links"}