#partial_form_composite
%h2.the-legend Formulario Para los Parametros Compuestos

= simple_form_for @report_configurator , id:'form_composite', remote:true , :html => {:id =>'form_composite'} , :url => {:action => 'search_information'}  do |f|

 #div_filters
  %table#table_monitor_atr.table.table-bordered
   %tittle
   %h2.the-legend Filtros
   %th Variable
   %th Item
   %th Filtro
   %th Mayor que
   %th Menor que
   %th Igual a
   %th Diferente a
   =f.simple_fields_for :filters do |p|
    =render :partial => 'form_filter' , :locals => {:p => p}

.actions
%button.btn.btn-primary#enviar{:onclick => 'enviarinformacion()', :type => 'submit'} Realizar consulta