@import 'bootstrap';

/////////////
//LAYOUT
/////////////

body{
  height: 100%;
  background: #f7f7f7;
  color: #3d3d3d;
  font-family: Arial;
  line-height: 1.5;
}
.banner{
  background: #3d9143;
  padding: 10px;
  border-bottom: 2px solid;
  color: #282;
  text-align: left;
}
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -40px;
}
#push {
  height: 40px;
}
.content {
    padding: 0 0 0 40px;
    width: 96%;
}
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

.imgmain{
  display:block;
  text-align:center;
  padding-top: 3%;
}

.imgmain img{
  background: #dddddd no-repeat top center;
  height: 50%;
  width: 50%;
}


/////////////
//FOOTER
/////////////

#footer{
  height: 40px;
  background-color: #f4f4f4;
  color:#000000;
  vertical-align: middle;
  text-align: center;
}
.pp {
  padding: 10px 0 0 0px;
}

/////////////
//BARRA NAVEGACION
/////////////
.navbar-inner {
  /*background: #93361B;*/
  background: #262626;
}
.navbar .nav > li > a {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-left: 0px solid #000;
  font-size: 18px;
  font-weight: normal;
  margin-top: 5px;
  line-height: 25px;
  margin-bottom: 5px;
  color: #686868;
  text-shadow: 0 0px 0 #686868;
}
.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: transparent;
}
.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
  color: #ffffff;
  background-color: #262626;
}
.navbar .nav {
  margin: 0 0 0 0;
}
.navbar .nav > li.dropdown > a  {
  border-left: 1px solid #000;
}
.navbar .nav > li > a.active {
  color: #ffffff;
  background-color: #262626;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
  color: #ffffff;
  text-decoration: none;
  background-color: #3b3b3b;
  background-image: -moz-linear-gradient(top, #3b3b3b, #3b3b3b);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3b3b3b), to(#3b3b3b));
  background-image: -webkit-linear-gradient(top, #3b3b3b, #3b3b3b);
  background-image: -o-linear-gradient(top, #3b3b3b, #3b3b3b);
  background-image: linear-gradient(to bottom, #3b3b3b, #3b3b3b);
}

/////////////
//VARIOS
/////////////

form {
  margin: 0 0 20px;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  display: inline-block;
  height: 30px;
  padding: 4px 6px;
  margin-bottom: 0px;
  font-size: 14px;
  line-height: 20px;
  color: #555555;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  vertical-align: middle;
}
.links {
  text-decoration: underline;
  padding: 0 0 0 20;
  color: #57bb37;
  text-align: center;
  font-size: 14;
}
.links2{
  text-decoration: underline;
  padding: 0 20 0 20;
  color: #57bb37;
  text-align: center;
  font-size: 34;
}
.links:hover {
  text-decoration: none;
  color: #57bb37;
}
.testconnnetele:hover, .testconnserv:hover, .testconnlaynetele:hover,
.testconnnetele:before, .testconnserv:before, .testconnlaynetele:before{
  text-decoration: none;
  color: #57bb37;
}
.testconnnetele , .testconnserv,.testconnlaynetele{
  text-decoration: underline;
  padding: 20 0 0 0;
  color: #57bb37;
}
select:focus,
input[type="text"]:focus,
input[type="number"]:focus,{
  border-color: rgba(208,208,208,1);
  outline: 0;
  outline: thin dotted \9; /* IE6-9 */
  @include box-shadow(#{inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(#8cb44e, 1)});
}

.table-striped thead th, .table-striped td{
  text-align: center;
  vertical-align:middle;
}

.table-striped tbody > tr:nth-child(odd) > td,
.table-striped tbody > tr:nth-child(odd) > th {
  background-color: #e8f9e7;
}

.show.title{
  padding: 10 0 0 0;
  font-size: 19.5px;
  color: #000000;
}
.show.text{
  padding: 0 0 0 20;
}

/////////////
//FIELDSET
/////////////

#mainform {
  display: inline-block;
  padding: 5px;
}
#subform1 {
  display: inline-block;
  padding: 20px;
}
.the-legend {
  font-weight: bolder;
  color: #57bb37;
  background: #F2F2F2;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  padding: 5px;
  margin-bottom: 0px;
  line-height: 52px;
}
.the-legend2 {
  font-weight: bolder;
  color: #57bb37;
  background: #F6F6F6;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  padding: 5px;
  margin-bottom: 0px;
  line-height: 52px;
}

a.accordion-toggle {
  font-weight: bolder;
  color: #57bb37;
  font-size: 16px;
}

.modal.fade.in {
  top: 30%;
}

.modal-header h3 {
  margin: 0;
  line-height: 30px;
  color: #000000;
}

.modal-body2 {
  position: relative;
  overflow-y: auto;
  max-height: 400px;
  padding: 15px;
  text-align: center;
}

.modal-footer {
  width: 108%;
  padding: 14px 14px 15px;
  margin-top: 20;
  margin-bottom: -15;
}

.modal-footer2 {
  text-align: right;
  background-color: #f5f5f5;
  border-top: 1px solid #dddddd;
  -webkit-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: inset 0 1px 0 white;
  box-shadow: inset 0 1px 0 white;

  width: 94%;
  padding: 0px 15px 7px;
  margin-top: 20;
  margin-bottom: -15;
}
.input-append {
  width: 88%;
}
.input-large {
  width: 92%;
}

.sidebyside {
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width:  15%;
}
.sidebyside a {
  float: center;
  display: inline;
}
.downbydown {
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width:  1%;
}

.downbydown img,span {
  display: inline-block;
  vertical-align: middle;
  margin: 1px;
}

/////////////
//SIMPLE FORM
/////////////

////Simple_form boton submit
.form-horizontal .form-actions {
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: transparent;
  border-top: 0px solid #e5e5e5;
  text-align: center;
  padding-left: 0px;
}
//Simple_form label
.control-label {
  color: #3E3535;
  font-weight: bolder;
  font-size: 16px;
}
//Simple_form margen arriba
.form-horizontal input + .help-block, .form-horizontal select + .help-block, .form-horizontal textarea + .help-block, .form-horizontal .uneditable-input + .help-block, .form-horizontal .input-prepend + .help-block, .form-horizontal .input-append + .help-block {
  margin-top: 1px;
}
//Simple_form color de mensaje hint,error
.help-block, .help-inline {
  color: #999999;
}
//Simple_form color hint en error
.control-group.error .help-block {
  color: #999999;
}
//Simple_form font size de mensaje error
.control-group.error .help-inline {
  font-size: 16px;
}
//Simple_form Quita .. del required
abbr[title], abbr[data-original-title] {
  border-bottom: 0px dotted #999999;
}
//Simple_form margen de label en error
.control-group.error .control-label {
  margin-top: 10px;
}

/////////////
//BOOTSTRAP
/////////////

//Mensaje de alerta bootstrap
.alert-error h4, .alert-success h4 {
  text-align: center;
}
.btn-primary {
  color: white;
  background-image: -webkit-linear-gradient(top, rgb(64, 151, 38), rgb(64, 151, 38));
  border-color: #378120 #378120 #378120;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  color: #3d3d3d;
  background-image: -webkit-linear-gradient(top, rgb(241, 241, 241), rgb(241, 241, 241));
  background-color: rgb(241, 241, 241);
  border-color: #d0d0d0 #d0d0d0 #d0d0d0;
}

.link line {
  stroke: #696969;
}

.link line.separator {
  stroke: #fff;
  stroke-width: 2px;
}

.node circle {
  stroke: #000;
  stroke-width: 1.5px;
}

.node text {
  font: 26px sans-serif;
  pointer-events: none;
  stroke     : #000000;
  fill       : #00ff00;
}
