@import 'bootstrap';
* {
  margin: 0;
}
body{
  height: 100%;
  background: #f7f7f7;
  color: #3d3d3d;
  font-family: Arial;
  line-height: 1.5;
}
.banner{
  background: #3d9143;
  padding: 10px;
  border-bottom: 2px solid;
  color: #282;
  text-align: left;
}
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -40px;
}
#footer{
  height: 40px;
  background-color: #f4f4f4;
  color:#000000;
  vertical-align: middle;
  text-align: center;
}
#push {
  height: 40px;
}
.content {
    padding: 0 0 0 40px;
}

.navbar-inner {
  /*background: #93361B;*/
  background: #262626;
}

.navbar .brand {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: normal;
  line-height: 40px;
  /*color: #F0997F;
  text-shadow: 0 1px 0 #F0997F;*/
  color: #ffffff;
}

.navbar .nav > li > a {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 40px;
  color: #686868;
  text-shadow: 0 1px 0 #686868;
}

.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: transparent;
}

.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
  color: #ffffff;
  background-color: #262626;
}

.navbar .nav {
  margin: 0 0 0 0;
}

.navbar .nav .dropdown-toggle .caret {
  margin-top: 20px;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
  color: #ffffff;
  text-decoration: none;
  background-color: #3b3b3b;
  background-image: -moz-linear-gradient(top, #3b3b3b, #3b3b3b);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3b3b3b), to(#3b3b3b));
  background-image: -webkit-linear-gradient(top, #3b3b3b, #3b3b3b);
  background-image: -o-linear-gradient(top, #3b3b3b, #3b3b3b);
  background-image: linear-gradient(to bottom, #3b3b3b, #3b3b3b);
}

li {
  line-height: 30px;
}

.pp {
  padding: 10px 0 0 0px;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  display: inline-block;
  height: 30px;
  padding: 4px 6px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  color: #555555;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  vertical-align: middle;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 27px;
  font-size: 19.5px;
  line-height: 36px;
  color: #7bbb37;
  border: 0;
  border-bottom: 1px solid #E5E5E5;
}

#mainform {
  border: 0px solid #ccc;
  padding: 10px;
}
#subform1 {
  padding: 0 0 0 20;
  margin: 10;
  border: 0;
}

.the-legend {
  border-style: none;
  border-width: 0;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 0;
}
.the-fieldset1 {
  border: 2px groove threedface #444;
  -webkit-box-shadow:  0px 0px 0px 0px #000;
  box-shadow:  0px 0px 0px 0px #000;
}
.the-fieldset2 {
  padding: 0 0 0 20;
  border: 2px groove threedface #444;
  -webkit-box-shadow:  0px 0px 0px 0px #000;
  box-shadow:  0px 0px 0px 0px #000;
}

.links {
  text-decoration: underline;
  padding: 0 0 0 20;
  color: #57bb37;
}
.links:hover {
   text-decoration: none;
  color: #57bb37;
}
.testconnnetele:hover {
  text-decoration: none;
  color: #57bb37;
}

.testconnnetele {
  text-decoration: underline;
  padding: 20 0 0 0;
  color: #57bb37;
}

.btn-primary {
  color: white;
  background-image: -webkit-linear-gradient(top, rgb(64, 151, 38), rgb(64, 151, 38));
  border-color: #378120 #378120 #378120;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  color: #3d3d3d;
  background-image: -webkit-linear-gradient(top, rgb(241, 241, 241), rgb(241, 241, 241));
  background-color: rgb(241, 241, 241);
  border-color: #d0d0d0 #d0d0d0 #d0d0d0;
}

form {
  margin: 0 0 20px;
  width: 25%;
}

select:focus,
input[type="text"]:focus,
input[type="number"]:focus,{
  border-color: rgba(208,208,208,1);
  outline: 0;
  outline: thin dotted \9; /* IE6-9 */
  @include box-shadow(#{inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(#8cb44e, 1)});
}