= simple_fields_for @reporte do |f|
 = f.input :parasim, label:'Macro Atributo', :collection => @busquedamacroatributo.map{ |c| [c.name, c.id] }, :selected => @macro_preselected.id  ,include_blank:'Seleccione macroatributo', :input_html => {:onchange => "recargaratributo(this.value)"}