<!DOCTYPE html>
<html>
<head>

  <%= javascript_tag do %>

  var parametro;

      function datos()
      {

      var tiempo = "<%=@tiempo%>"
      var ret=[];
      <% @historicos.each do |variable| %>
          if (tiempo == "last year")
          {
          parametro = 'month';
          }
          if (tiempo == "last month")
          {
          parametro = 'day';
          }
          if (tiempo == "last week")
          {
          parametro = 'day';
          }
          if (tiempo == "last day")
          {
          parametro = 'hour';
          }
          if (tiempo == "last hour")
          {
          parametro = 'minute';
          }
          if (tiempo == "last minute")
          {
          parametro = 'second';
          }

          var  p = <%=variable.tstamp%>
          var c = new Date(p*1000).getTime();
          var b =  <%=variable.valuee%>

          ret.push({
       // parametro: a,
          parametro: c ,
          y: b
          });
      <%end%>

      return ret;
      }

      new Morris.Line(
      {
      element: 'myfirstchart',
      data:datos(),
      lineColors: ['#009900'],
      xkey: 'parametro' ,
      ykeys: ['y'],
      parseTime: true,
      labels: ['Valor']
      }
      );
  <%end%>

</head>
<body>
<h2 class="the-legend">Grafico</h2>
<div id="myfirstchart" align="center" style="min-width: 500px ; height: 300px;"></div>

</body>
</html>
