%script(type="text/javascript")

 var total;

 Highcharts.setOptions
 ({
 global:
 {
 useUTC: false
 }
 });


 $(function()
 {
 var atr = '#{@atributo}';
 console.log(atr);

 var ret = new String();

 new Highcharts.Chart({
 chart: { renderTo: 'graficodinamico',
 type: 'spline',
 animation: Highcharts.svg, // don't animate in old IE
 marginRight: 10,
 events: {
 load: function()
 {
 var series = this.series[0];
 setInterval(function()
 {
 $.get("http://localhost:3000/reports/datostiemporeal/?atr="+atr+"&tstamp="+parseInt(ret),function(data,status)
 {
 var x = (new Date()).getTime();
 var y = parseInt(data['value'] + Math.random());
 series.addPoint([x,y],true,true);
 });
 }, 2000);
 }
 }
 },
 title:
 {
 text: 'Análisis en tiempo real'
 },
 xAxis:
 {
 type: 'datetime',
 tickPixelInterval: 500
 },
 yAxis:
 {
 title:
 {
 text: 'Valor'
 },
 plotLines:
 [{
 value: 0,
 width: 1,
 color: '#808080'
 }]
 },
 tooltip:
 {
 formatter: function() {
 return '<b>'+ this.series.name +'</b><br/>'+
 Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) +'<br/>'+
 Highcharts.numberFormat(this.y, 2);
 }
 },
 legend:
 {
 enabled: false
 },
 exporting:
 {
 enabled: true
 },
 series:
 [{
 name: 'Historicos',
 color: '#006600',
 data: (function()
 {
 var data = [];
 -@historicos.each do |dat|
  var  y = (parseInt(#{dat.tstamp}))
  var z = (new Date(y)).getTime() * 1000;
  data.push({
  x: z,
  y: (parseInt(#{dat['value']}))
  });
 return data;
 })()
 }]
 });
 });

#graficodinamico