
<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <script type="text/javascript">







      Highcharts.setOptions({
          global: {
              useUTC: false
          }
      });


      $(function ()
      {
          var atr = '<%= @atrr %>';

          console.log(atr);

          var ret = new String();

          new Highcharts.Chart({
              chart: { renderTo: 'container',
                  type: 'spline',
                  animation: Highcharts.svg, // don't animate in old IE
                  marginRight: 10,
                  events: {
                      load: function()
                      {

                          // set up the updating of the chart each second
                          var series = this.series[0];
                          //console.log("hola mundo" + series);

                          setInterval(function()
                          {
                              $.get("http://localhost:3000/reports/getdatos/?atr="+atr+"&tstamp="+parseInt(ret),function(data,status)
                              {
                                  var a , b ;
                                  //console.log(data)
                                  b = new Date(data.tstamp *1000).getTime();
                                  a =  parseInt(data.valuee);
                                  ret = data.tstamp
                                  series.addPoint([b,a],true,true);
                              });
                          }, 2000);




                      }
                  }
              } ,

              title: {
                  text: 'Análisis en tiempo real'


              },
              xAxis: {
                  type: 'datetime',
                  tickPixelInterval: 500
              },
              yAxis: {
                  title: {
                      text: 'Valor'
                  },
                  plotLines: [{
                      value: 0,
                      width: 1,
                      color: '#808080'
                  }]
              },
              tooltip: {
                  formatter: function() {
                      return '<b>'+ this.series.name +'</b><br/>'+
                              Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) +'<br/>'+
                              Highcharts.numberFormat(this.y, 2);
                  }
              },
              legend: {
                  enabled: false
              },
              exporting: {
                  enabled: true
              },
              series: [{
                  name: 'Historicos',
                  color: '#006600',
                  data: (function()
                  {
                      var data = [];




                      <% @historicos.each do |dat| %>


                      var  y = <%=dat.tstamp%>
                      var z = new Date(y*1000).getTime();
                      data.push({
                          x:  z ,
                          y: <%= dat.valuee%>
                      });

                      <% end %>

                      return data;

                  })()
              }]

          });
      });


</script>
</head>
<body>
<div id="container" style="min-width: 500px; height: 350px; margin: 0 auto"></div>
</body>
</html>